PORT=3001
HOST=0.0.0.0
CLIENT_ORIGIN=http://localhost:5173,http://localhost:5174
APP_URL=http://localhost:5174
API_PUBLIC_URL=http://localhost:3001
QOUTERX_DATA_DIR=./data
ENABLE_FILE_ACTIVITY_WATCHER=0
APP_OWNER_EMAIL=knight6807@gmail.com
STRIPE_SECRET_KEY=sk_test_your_key
STRIPE_WEBHOOK_SECRET=whsec_your_secret
STRIPE_PRICE_ID=price_your_price
PAYMENT_BANK_NAME=
PAYMENT_ACCOUNT_NAME=
PAYMENT_ACCOUNT_NUMBER=
PAYMENT_BRANCH_CODE=
PAYMENT_ACCOUNT_TYPE=
PAYMENT_REFERENCE_PREFIX=INV
ONE_DRIVE_ROOT=
JOBNEST_ROOT=
